<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobX">
        <activity
            android:name=".fullTimeConfirm"
            android:exported="false" />
        <activity
            android:name=".partTimeConfirm"
            android:exported="false" />
        <activity
            android:name=".electricianView"
            android:exported="false" />
        <activity
            android:name=".OccupationTypes"
            android:exported="false" />
        <activity
            android:name=".LoginOTP"
            android:exported="false" />
        <activity
            android:name=".SignUpDetails"
            android:exported="false" />
        <activity
            android:name=".SignUpOTP"
            android:exported="false" />
        <activity
            android:name=".LoginPhone"
            android:exported="false" />
        <activity
            android:name=".SignUpPhone"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>